@font-face {
	font-family: 'HeroText';
	src: url('assets/EmberlyBlack.woff2') format('woff2');
}

@font-face {
	font-family: 'EmberlyThin';
	src: url('assets/EmberlyThin.woff2') format('woff2');
}

@font-face {
	font-family: 'Lato-Bold';
	src: url('assets/Lato-Bold.woff2') format('woff2');
}


@font-face {
	font-family: 'Lato-Regular';
	src: url('assets/Lato-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Lato-Thin';
	src: url('assets/Lato-Thin.woff2') format('woff2');

}

@keyframes slide-up {
	0% {}

	100% {
		transform: translateY(0px)
	}
}



html {
	cursor: url('assets/circle-cursor.png'), auto;
}

body {
	margin: 0;
	font-family: serif;
	overflow-y: hidden;

}

.center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.vertical-center {
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.prevent-select {
	-webkit-user-select: none;
	/* Safari */
	-ms-user-select: none;
	/* IE 10 and IE 11 */
	user-select: none;
	/* Standard syntax */
}

.window {
	width: auto;
	height: 100vh;
	display: flex;
}

.content {
	max-width: 1300px;
	width: 75%;
	height: auto;
	text-align: center;
	animation-duration: 3s;
}

.heroText {
	margin: 0;
	padding: 0;
	font-family: 'HeroText';
	font-size: 21vw;
}

.menu {
	margin: 0 auto;
	margin-top: -30px;
	width: auto;
}

.menu-button {
	display: inline-block;
	margin-right: 2.5em;
	margin-left: 2.5em;


	font-family: 'Lato-Thin';
	font-size: 1.5vw;

	cursor: pointer, auto;

}

.menu-button:hover {
	-webkit-text-stroke-width: 0.5px;
	-webkit-text-stroke-color: black;
}


.dot {
	height: 10px;
	width: 10px;
	background-color: black;
	border-radius: 50%;
	display: inline-block;
}


.bottom-bar {

	position: absolute;
	bottom: 0;
	height: 100px;
	width: 100%;
	background-color: black;

	transform: translateY(80px);

	animation-name: slide-up;
	animation-fill-mode: forwards;
	animation-delay: 1.5s;
	animation-duration: 0.6s;

}

.bottom-content {
	width: 57%;
	height: 100px;

}

.info-section {
	width: 80%;
	height: auto;

}

.info {
	font-family: 'Lato-Bold';
	font-size: 0.933vw;
	margin: 0 auto;
	color: white;
	display: inline-block;
	margin-right: 3em;

}




.info::first-letter {
	font-size: 1.5rem;
	margin-right: 15px;
	vertical-align: baseline;
}





#email {

	text-align: right;
	font-family: 'Lato-Bold';
	font-size: 1vw;
	color: white;

	margin-top:  0.25em;
	position: relative;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);

	cursor: pointer, auto;

	transition-duration: 0.6s;
}

#bracket {
	font-family: 'EmberlyThin';
}

@media only screen and (max-width: 1500px) {
	.bottom-content{
		width: 90%;
	}
	.menu {
		margin-top: 10px;
	}
	.menu-button {
		font-size: 2vw;
	}
	.info{
		font-size: 1em;

	}
	#email{
		font-size: 1em;
	}

}

@media only screen and (max-width: 1060px) {
	.menu-button {
		font-size: 2.5vw;
	}
	.info{
		font-size: 0.9em;

	}
	#email{
		font-size: 0.9em;
	}


}



@media only screen and (max-width: 910px) {
	
	.bottom-bar{display: none;}
	.content{
		width: 100%;
	}
	.heroText{
		font-size: 30vw;
	}
	.menu-button{
		font-size: 3.6vw;
	}

}


